
:root {
  /* default font size in browsers is 16px = 1em, we make
     things easier for us and make 10px our base size.
     We have 10/16 = 0.625 = 1rem as it is set on root element.
     So 1rem is now 10px throughout our stylesheet.*/
  font-size: 0.625em;
}

.html {
    padding: 0;
    margin: 0;
}

#grid {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-left: auto;
    height: 40em;
    width: 20em;
    border: 1px solid whitesmoke;
    border-radius: 2%;

}

#animation {
  position:absolute;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-left: auto;
  height: 40em;
  width: 20em;
  border: 1px solid gold;
  border-radius: 2%;
  z-index: 4;
}

body {
    touch-action: manipulation;
    width: 100%;
    margin: auto;
    background: radial-gradient(
    circle,
    rgba(175, 196, 174, 1) 0%,
    rgba(104, 204, 191, 1) 89%,
    rgba(94, 191, 178, 1) 100%
  );
}

.container-board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 500px;
  margin: auto;

} 

.container-left {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;

}

.container-right {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  align-items: center;
  width: 49%;
  height: 100%;
}

.container-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 20em;
  height: 35em;
 
}

.display {
  width: 14em;
  height: 16em;
  border: gold solid 1px;
  border-radius: 3%;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#D0D0D0), to(#f0f0f0));
  
}

.controller {
  margin-top: 3em;
  display: grid;
  grid-template-columns: auto auto auto;
  width: 14em;
  height: 14em;
  border: gold solid 1px;
  border-radius: 3%;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#D0D0D0), to(#f0f0f0));
}

button {
  border: 1px solid gray;
  border-radius: 13%;
  opacity: 100%;
  color: #f783ac;
  font-size: 30px;
  font-weight: bold;
}

button:active {
  background-color: #82c91e;
  box-shadow: 0 5px #666;
  transform: translateY(1px);
  transition: 0.2s;
}

button:hover {
  border: 1px solid #82c91e;
}

.display h1, .display h3 {
  color: rgb(133,121,107,0.5);
  font-size: 1em;
  letter-spacing: 5px;
}

.display h4 {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  text-align: center;
  color: #d8edea;
  font-size: 1em;
}

#next-shape {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  width: 9em;
  height: 9em;
  z-index: 5;
}

#next-shape .cell {
  height: 1.5em;
  width: 1.5em;
  border-radius: 15%;
}


header {
  margin: auto;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1em;
  text-transform: uppercase;
  text-align: center;
  color: #d8edea;
  font-size: 1em;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: #d8edea;
  font-size: 2em;
  letter-spacing: 1em;
}

#gameOver {
  font-size: 1.5em;
  position: absolute;
  margin: auto;
  display: none;
  z-index: 4;
  
}

#animation .cell {
  z-index: -3;
  height: 2em;
  width: 2em;
  border-radius: 15%;
}

#grid .cell{
    height: 2em;
    width: 2em;
}

.flash2 {
  animation-name: example2;
  animation-duration: 1.5s;
}

.flash {
  animation-name: example;
  animation-duration: 1.5s;
}

@keyframes example {
  from {background-color: white;}
  to {background: none;}
}

@keyframes example2 {
  from {background-color: white;}
  to {background: none;}
}

@media screen and (max-width: 800px) {
  .container-board{
    width: 340px;
    
  }

  #gameOver {
    font-size: 1em;
  }

  body {
    width: 320px;
  }
  .container-left {
    width: 65%;
    height: 80%;
  }
  .container-right {
    width: 35%;
  }

  .display {
    left: 0;
    width: 100px;
  }

  .controller {
    display: inline-grid;
    width: 100px;
    height: 100px;
  }
  
  button {
    width: 100%;
    height: 100%;
    font-size: 1.1em;
  }

  header {
    width: 100%;
  }

  h1 {
    font-size: 10px;
  }

  .display h4 {
    margin-top: 2em;
    font-size: 8px;
  }
  
}